In [34]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

from sqlalchemy import create_engine

In [35]:
#Loading csv files

state_prices_file = "Sale_Prices_State.csv"
city_prices_file = "Sale_Prices_City.csv"
city_prices_2_file = "Sale_Prices_City 2.csv"

In [36]:
state_prices_df = pd.read_csv(state_prices_file)
state_prices_df.head()

,Unnamed: 0,RegionID,RegionName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,0,9,California,1,392500.0,373800.0,351800.0,334700.0,320100.0,306600.0,...,493000,491900,491600,493800,498400,505600,513500,518700,524400,NaN
1,1,54,Texas,2,139900.0,139300.0,137600.0,137400.0,137700.0,139500.0,...,226100,226700,228100,229400,232700,234700,236800,237200,239900,NaN
2,2,43,New York,3,NaN,NaN,NaN,NaN,NaN,NaN,...,297000,298100,301700,295100,296000,297100,305400,308800,324800,342500.0
3,3,14,Florida,4,203400.0,195500.0,189300.0,184800.0,181700.0,178100.0,...,224600,226100,227000,228900,230800,234400,238100,243300,247600,NaN
4,4,21,Illinois,5,204400.0,198400.0,185000.0,177500.0,174300.0,176300.0,...,195900,192000,189500,188100,190000,191300,194600,195100,200200,210300.0

In [37]:
#State 2 data from 2018 - 2020

state_prices_2018_df  = state_prices_df.loc[:, ['RegionID', 'RegionName', 'SizeRank',"2018-01",'2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12','2020-01','2020-02','2020-03']]

state_prices_2018_df.rename(columns = {'RegionName':'StateName'}, inplace = True)
state_prices_2018_df

,RegionID,StateName,SizeRank,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,9,California,1,469200,472300,476400,479200,480800,482300,483600,...,493000,491900,491600,493800,498400,505600,513500,518700,524400,NaN
1,54,Texas,2,210200,212500,214100,215300,215300,215500,215300,...,226100,226700,228100,229400,232700,234700,236800,237200,239900,NaN
2,43,New York,3,266300,268500,273300,280500,282000,283200,282800,...,297000,298100,301700,295100,296000,297100,305400,308800,324800,342500.0
3,14,Florida,4,206500,211800,215800,217700,215900,215100,214900,...,224600,226100,227000,228900,230800,234400,238100,243300,247600,NaN
4,21,Illinois,5,175900,178800,183400,184600,183400,184900,185400,...,195900,192000,189500,188100,190000,191300,194600,195100,200200,210300.0
5,47,Pennsylvania,6,159000,159400,162900,161600,161900,159600,159400,...,168600,168700,168500,168800,169600,172100,173300,176500,180800,NaN
6,44,Ohio,7,133300,135900,136200,135500,133100,132100,132100,...,140300,141300,140600,140600,140900,142300,145200,146900,152000,NaN
7,30,Michigan,8,143900,146100,147400,147300,145400,143600,143700,...,151200,151600,152700,153700,154300,155200,157700,160400,170100,NaN
8,16,Georgia,9,174800,177800,178700,180900,179500,180300,179800,...,195600,197600,197800,199800,199600,202700,204900,208100,212500,NaN
9,36,North Carolina,10,183200,187200,191200,190400,188600,187100,188000,...,199700,201100,202100,205200,206200,209900,212700,216100,221900,NaN
10,40,New Jersey,11,266600,267000,268400,273200,275800,276700,273300,...,287000,287900,288600,290700,293900,303300,311600,316000,312100,NaN
11,56,Virginia,12,254500,255300,257000,259400,259100,260300,258300,...,268100,268200,268900,272600,274700,275600,276200,275500,279900,NaN
12,59,Washington,13,335800,340700,346800,351800,350600,348500,345700,...,369000,367800,369600,371700,374700,377400,384600,396100,408400,NaN
13,26,Massachusetts,14,356200,365800,367400,372600,367300,370900,369800,...,382300,384200,383700,384100,386500,386500,390700,392800,404500,NaN
14,22,Indiana,15,142700,143500,144700,144200,144700,144700,145600,...,153400,154500,156000,156700,159200,160500,161300,160300,162300,NaN
15,8,Arizona,16,221200,223500,225400,225500,224100,225200,227500,...,241200,244100,244800,247200,249500,252500,255100,259300,265800,NaN
16,53,Tennessee,17,171200,171900,173400,173100,172800,172400,172800,...,187500,188700,190700,190800,193200,195600,199600,202600,207400,NaN
17,32,Missouri,18,153700,160000,161100,160900,155900,154100,153100,...,163800,163500,163300,163400,165800,166700,168300,168800,177200,NaN
18,27,Maryland,19,262000,260400,261800,261400,262100,261600,260100,...,273500,273900,271900,270600,272100,276000,279600,279500,283000,NaN
19,60,Wisconsin,20,168800,171700,173600,173900,172200,172100,171500,...,182400,181100,180500,180300,182500,183000,187100,192400,197200,NaN
20,31,Minnesota,21,216600,220100,223900,224100,222600,221400,219800,...,235600,236700,236800,238400,240600,243100,245800,249200,253800,NaN
21,10,Colorado,22,338300,341200,343300,349500,351100,352200,349500,...,366500,366700,366900,370600,373200,376200,378500,381800,383500,388700.0
22,4,Alabama,23,147000,152700,155300,154900,150100,146700,145300,...,155200,153500,154500,156500,160100,163900,167400,169300,168800,NaN
23,51,South Carolina,24,174200,176800,177900,177600,176100,175600,174300,...,185400,186300,187500,188000,186800,187100,190400,193500,197000,NaN
24,25,Louisiana,25,171000,172400,171200,169600,168400,169100,168300,...,174900,177300,177100,175700,175600,178000,179600,182400,182900,NaN
25,24,Kentucky,26,147400,149600,149700,150400,147900,148100,147300,...,156600,158500,159300,160500,162100,163500,165200,166500,170100,NaN
26,46,Oregon,27,313000,315900,317300,319000,318200,320700,321100,...,336000,337200,337300,337300,341300,346000,350900,355000,359600,NaN
27,45,Oklahoma,28,132100,133400,134000,134100,134400,134700,134500,...,147000,146900,147000,147700,149400,151400,152600,151600,154900,NaN
28,11,Connecticut,29,235300,239400,245600,245600,241500,237100,234400,...,241100,239000,237300,238400,240700,243400,251000,255000,258600,NaN
29,19,Iowa,30,137100,139500,142200,141600,141200,142100,143800,...,152300,151300,153100,154400,155500,155600,156600,159300,160300,NaN
30,34,Mississippi,31,152100,152800,154400,154100,154600,155400,156700,...,163300,162800,163100,163000,163400,163900,168200,171200,175300,NaN
31,6,Arkansas,32,138000,139200,140500,139900,137900,138300,138900,...,143800,146800,147300,149800,151100,154200,154300,154700,156800,NaN
32,23,Kansas,33,172200,174800,176700,175900,175300,174500,174800,...,189100,191900,191500,188600,188600,191000,193100,196900,198700,NaN
33,55,Utah,34,272000,275400,278400,280500,281000,284300,286300,...,306100,306600,309800,313100,316800,318500,322000,325600,330100,NaN
34,42,Nevada,35,253900,256800,259700,264300,268100,270300,270000,...,281500,282500,282400,285400,288700,291500,294100,295900,299100,NaN
35,41,New Mexico,36,185900,186800,189200,190100,189700,190000,189700,...,209900,210500,210500,207400,210000,210500,213600,215600,220300,NaN
36,61,West Virginia,37,136900,136800,137400,133100,133200,130700,130300,...,142500,142300,142800,143700,143500,143500,142200,145300,145400,NaN
37,38,Nebraska,38,157400,158900,160600,163200,164800,166500,166500,...,178800,178300,176400,177900,179200,182100,183800,183800,186000,188400.0
38,20,Idaho,39,219600,222900,229500,231900,234100,233200,235300,...,258400,260200,261300,263600,265700,268500,271600,277800,285100,NaN
39,18,Hawaii,40,519700,522500,524100,525200,529800,528700,535900,...,566700,575300,569400,571400,573900,577900,591100,593500,608900,NaN
40,28,Maine,41,213500,211400,210800,208800,213400,214400,217800,...,225200,225600,226600,229400,228900,230600,228100,233500,238500,241500.0
41,39,New Hampshire,42,251600,249300,248200,251200,254400,256200,255800,...,266800,266900,269500,270200,273600,275400,280000,280500,282800,284300.0
42,50,Rhode Island,43,241500,243900,247100,251800,251500,247100,240700,...,257200,254600,253900,263000,264500,270800,269200,279500,280800,286600.0
43,35,Montana,44,256300,262100,261600,263000,262100,264600,263700,...,288600,292700,293100,294500,295900,298700,300800,300000,302400,NaN
44,13,Delaware,45,224000,224600,226500,223700,225100,223100,222500,...,225500,228100,233400,234400,238000,239200,242300,238700,243500,NaN
45,52,South Dakota,46,191000,194000,195000,194600,196300,196700,200700,...,202100,203400,205700,205500,206300,208200,214500,212100,211300,208000.0
46,37,North Dakota,47,211200,206200,206800,209400,215100,217600,217000,...,217200,223000,225200,227000,224800,221600,220600,217400,222300,NaN
47,12,District of Columbia,48,508300,512300,510000,520500,525700,524200,524800,...,540000,532600,530600,542600,548000,566400,577600,580100,575700,586100.0
48,62,Wyoming,49,215400,216400,214000,214800,212100,214200,217500,...,231500,235300,235000,238300,236800,240700,241200,239400,240900,NaN

In [38]:
# add new column with average sale for each state
state_prices_2018_df['Average Sale'] = state_prices_2018_df.mean(axis=1)
# display the dataframe
state_prices_2018_df

,RegionID,StateName,SizeRank,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,...,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03,Average Sale
0,9,California,1,469200,472300,476400,479200,480800,482300,483600,...,491900,491600,493800,498400,505600,513500,518700,524400,NaN,455275.357143
1,54,Texas,2,210200,212500,214100,215300,215300,215500,215300,...,226700,228100,229400,232700,234700,236800,237200,239900,NaN,206219.857143
2,43,New York,3,266300,268500,273300,280500,282000,283200,282800,...,298100,301700,295100,296000,297100,305400,308800,324800,342500.0,271180.896552
3,14,Florida,4,206500,211800,215800,217700,215900,215100,214900,...,226100,227000,228900,230800,234400,238100,243300,247600,NaN,207897.071429
4,21,Illinois,5,175900,178800,183400,184600,183400,184900,185400,...,192000,189500,188100,190000,191300,194600,195100,200200,210300.0,175997.448276
5,47,Pennsylvania,6,159000,159400,162900,161600,161900,159600,159400,...,168700,168500,168800,169600,172100,173300,176500,180800,NaN,153673.321429
6,44,Ohio,7,133300,135900,136200,135500,133100,132100,132100,...,141300,140600,140600,140900,142300,145200,146900,152000,NaN,128491.107143
7,30,Michigan,8,143900,146100,147400,147300,145400,143600,143700,...,151600,152700,153700,154300,155200,157700,160400,170100,NaN,139644.214286
8,16,Georgia,9,174800,177800,178700,180900,179500,180300,179800,...,197600,197800,199800,199600,202700,204900,208100,212500,NaN,176625.892857
9,36,North Carolina,10,183200,187200,191200,190400,188600,187100,188000,...,201100,202100,205200,206200,209900,212700,216100,221900,NaN,183280.214286
10,40,New Jersey,11,266600,267000,268400,273200,275800,276700,273300,...,287900,288600,290700,293900,303300,311600,316000,312100,NaN,262898.250000
11,56,Virginia,12,254500,255300,257000,259400,259100,260300,258300,...,268200,268900,272600,274700,275600,276200,275500,279900,NaN,245877.428571
12,59,Washington,13,335800,340700,346800,351800,350600,348500,345700,...,367800,369600,371700,374700,377400,384600,396100,408400,NaN,335927.571429
13,26,Massachusetts,14,356200,365800,367400,372600,367300,370900,369800,...,384200,383700,384100,386500,386500,390700,392800,404500,NaN,350669.285714
14,22,Indiana,15,142700,143500,144700,144200,144700,144700,145600,...,154500,156000,156700,159200,160500,161300,160300,162300,NaN,140237.035714
15,8,Arizona,16,221200,223500,225400,225500,224100,225200,227500,...,244100,244800,247200,249500,252500,255100,259300,265800,NaN,220854.428571
16,53,Tennessee,17,171200,171900,173400,173100,172800,172400,172800,...,188700,190700,190800,193200,195600,199600,202600,207400,NaN,169627.500000
17,32,Missouri,18,153700,160000,161100,160900,155900,154100,153100,...,163500,163300,163400,165800,166700,168300,168800,177200,NaN,150008.928571
18,27,Maryland,19,262000,260400,261800,261400,262100,261600,260100,...,273900,271900,270600,272100,276000,279600,279500,283000,NaN,248405.214286
19,60,Wisconsin,20,168800,171700,173600,173900,172200,172100,171500,...,181100,180500,180300,182500,183000,187100,192400,197200,NaN,165538.571429
20,31,Minnesota,21,216600,220100,223900,224100,222600,221400,219800,...,236700,236800,238400,240600,243100,245800,249200,253800,NaN,214644.714286
21,10,Colorado,22,338300,341200,343300,349500,351100,352200,349500,...,366700,366900,370600,373200,376200,378500,381800,383500,388700.0,336356.275862
22,4,Alabama,23,147000,152700,155300,154900,150100,146700,145300,...,153500,154500,156500,160100,163900,167400,169300,168800,NaN,143258.107143
23,51,South Carolina,24,174200,176800,177900,177600,176100,175600,174300,...,186300,187500,188000,186800,187100,190400,193500,197000,NaN,168977.678571
24,25,Louisiana,25,171000,172400,171200,169600,168400,169100,168300,...,177300,177100,175700,175600,178000,179600,182400,182900,NaN,160137.500000
25,24,Kentucky,26,147400,149600,149700,150400,147900,148100,147300,...,158500,159300,160500,162100,163500,165200,166500,170100,NaN,144126.785714
26,46,Oregon,27,313000,315900,317300,319000,318200,320700,321100,...,337200,337300,337300,341300,346000,350900,355000,359600,NaN,307874.035714
27,45,Oklahoma,28,132100,133400,134000,134100,134400,134700,134500,...,146900,147000,147700,149400,151400,152600,151600,154900,NaN,132099.035714
28,11,Connecticut,29,235300,239400,245600,245600,241500,237100,234400,...,239000,237300,238400,240700,243400,251000,255000,258600,NaN,223537.142857
29,19,Iowa,30,137100,139500,142200,141600,141200,142100,143800,...,151300,153100,154400,155500,155600,156600,159300,160300,NaN,137762.464286
30,34,Mississippi,31,152100,152800,154400,154100,154600,155400,156700,...,162800,163100,163000,163400,163900,168200,171200,175300,NaN,149059.464286
31,6,Arkansas,32,138000,139200,140500,139900,137900,138300,138900,...,146800,147300,149800,151100,154200,154300,154700,156800,NaN,133472.785714
32,23,Kansas,33,172200,174800,176700,175900,175300,174500,174800,...,191900,191500,188600,188600,191000,193100,196900,198700,NaN,169730.571429
33,55,Utah,34,272000,275400,278400,280500,281000,284300,286300,...,306600,309800,313100,316800,318500,322000,325600,330100,NaN,277749.607143
34,42,Nevada,35,253900,256800,259700,264300,268100,270300,270000,...,282500,282400,285400,288700,291500,294100,295900,299100,NaN,257902.750000
35,41,New Mexico,36,185900,186800,189200,190100,189700,190000,189700,...,210500,210500,207400,210000,210500,213600,215600,220300,NaN,184856.321429
36,61,West Virginia,37,136900,136800,137400,133100,133200,130700,130300,...,142300,142800,143700,143500,143500,142200,145300,145400,NaN,128178.500000
37,38,Nebraska,38,157400,158900,160600,163200,164800,166500,166500,...,178300,176400,177900,179200,182100,183800,183800,186000,188400.0,161709.517241
38,20,Idaho,39,219600,222900,229500,231900,234100,233200,235300,...,260200,261300,263600,265700,268500,271600,277800,285100,NaN,230844.964286
39,18,Hawaii,40,519700,522500,524100,525200,529800,528700,535900,...,575300,569400,571400,573900,577900,591100,593500,608900,NaN,515555.642857
40,28,Maine,41,213500,211400,210800,208800,213400,214400,217800,...,225600,226600,229400,228900,230600,228100,233500,238500,241500.0,206567.896552
41,39,New Hampshire,42,251600,249300,248200,251200,254400,256200,255800,...,266900,269500,270200,273600,275400,280000,280500,282800,284300.0,245468.310345
42,50,Rhode Island,43,241500,243900,247100,251800,251500,247100,240700,...,254600,253900,263000,264500,270800,269200,279500,280800,286600.0,237706.655172
43,35,Montana,44,256300,262100,261600,263000,262100,264600,263700,...,292700,293100,294500,295900,298700,300800,300000,302400,NaN,259084.964286
44,13,Delaware,45,224000,224600,226500,223700,225100,223100,222500,...,228100,233400,234400,238000,239200,242300,238700,243500,NaN,212916.357143
45,52,South Dakota,46,191000,194000,195000,194600,196300,196700,200700,...,203400,205700,205500,206300,208200,214500,212100,211300,208000.0,188048.206897
46,37,North Dakota,47,211200,206200,206800,209400,215100,217600,217000,...,223000,225200,227000,224800,221600,220600,217400,222300,NaN,200588.714286
47,12,District of Columbia,48,508300,512300,510000,520500,525700,524200,524800,...,532600,530600,542600,548000,566400,577600,580100,575700,586100.0,502174.482759
48,62,Wyoming,49,215400,216400,214000,214800,212100,214200,217500,...,235300,235000,238300,236800,240700,241200,239400,240900,NaN,209928.964286

In [39]:
#State 2 data for 2019

state_prices_2019_df  = state_prices_df.loc[:, ['RegionID', 'RegionName', 'SizeRank','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12']]
state_prices_2019_df.rename(columns = {'RegionName':'StateName'}, inplace = True)
state_prices_2019_df

,RegionID,StateName,SizeRank,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,9,California,1,485900,488400,489900,493200,492200,493000,491900,491600,493800,498400,505600,513500
1,54,Texas,2,217800,219100,220500,223300,224700,226100,226700,228100,229400,232700,234700,236800
2,43,New York,3,290200,289700,285700,287900,287500,297000,298100,301700,295100,296000,297100,305400
3,14,Florida,4,224600,225800,225300,224400,223800,224600,226100,227000,228900,230800,234400,238100
4,21,Illinois,5,184200,188500,195700,199000,198700,195900,192000,189500,188100,190000,191300,194600
5,47,Pennsylvania,6,163400,165500,167600,169100,168200,168600,168700,168500,168800,169600,172100,173300
6,44,Ohio,7,137200,139600,141300,141200,141100,140300,141300,140600,140600,140900,142300,145200
7,30,Michigan,8,146900,152100,155200,156200,153300,151200,151600,152700,153700,154300,155200,157700
8,16,Georgia,9,188900,190500,191900,192700,194200,195600,197600,197800,199800,199600,202700,204900
9,36,North Carolina,10,193700,196100,198400,199800,199600,199700,201100,202100,205200,206200,209900,212700
10,40,New Jersey,11,276600,280200,282700,285500,287100,287000,287900,288600,290700,293900,303300,311600
11,56,Virginia,12,262900,265300,267900,267200,268300,268100,268200,268900,272600,274700,275600,276200
12,59,Washington,13,357500,364800,370200,371800,370900,369000,367800,369600,371700,374700,377400,384600
13,26,Massachusetts,14,369400,377400,387600,389300,384000,382300,384200,383700,384100,386500,386500,390700
14,22,Indiana,15,148600,150400,153300,153200,153100,153400,154500,156000,156700,159200,160500,161300
15,8,Arizona,16,235500,236500,239300,238600,240300,241200,244100,244800,247200,249500,252500,255100
16,53,Tennessee,17,180400,182400,182300,183100,183400,187500,188700,190700,190800,193200,195600,199600
17,32,Missouri,18,161900,166700,168800,166800,163900,163800,163500,163300,163400,165800,166700,168300
18,27,Maryland,19,263100,262700,263800,266100,271400,273500,273900,271900,270600,272100,276000,279600
19,60,Wisconsin,20,175100,177600,179800,183200,183200,182400,181100,180500,180300,182500,183000,187100
20,31,Minnesota,21,229000,231500,236300,237100,237800,235600,236700,236800,238400,240600,243100,245800
21,10,Colorado,22,358200,360600,361000,363700,366100,366500,366700,366900,370600,373200,376200,378500
22,4,Alabama,23,151000,153800,155800,156400,155800,155200,153500,154500,156500,160100,163900,167400
23,51,South Carolina,24,179600,180700,181400,183700,184800,185400,186300,187500,188000,186800,187100,190400
24,25,Louisiana,25,170700,167500,168400,168200,171300,174900,177300,177100,175700,175600,178000,179600
25,24,Kentucky,26,154400,155600,156500,156500,156300,156600,158500,159300,160500,162100,163500,165200
26,46,Oregon,27,328500,333200,335700,335400,334700,336000,337200,337300,337300,341300,346000,350900
27,45,Oklahoma,28,140900,144300,146700,148300,147000,147000,146900,147000,147700,149400,151400,152600
28,11,Connecticut,29,235500,234200,239000,241400,245900,241100,239000,237300,238400,240700,243400,251000
29,19,Iowa,30,147100,148600,150200,151600,151400,152300,151300,153100,154400,155500,155600,156600
30,34,Mississippi,31,159400,160100,160700,162100,162800,163300,162800,163100,163000,163400,163900,168200
31,6,Arkansas,32,142300,143000,142800,141300,142100,143800,146800,147300,149800,151100,154200,154300
32,23,Kansas,33,183100,183500,183500,181400,184300,189100,191900,191500,188600,188600,191000,193100
33,55,Utah,34,297500,300300,302100,302400,303700,306100,306600,309800,313100,316800,318500,322000
34,42,Nevada,35,280100,281500,282700,280900,281900,281500,282500,282400,285400,288700,291500,294100
35,41,New Mexico,36,196600,197100,197200,200700,204200,209900,210500,210500,207400,210000,210500,213600
36,61,West Virginia,37,136500,134500,136000,138900,141600,142500,142300,142800,143700,143500,143500,142200
37,38,Nebraska,38,175400,177100,179800,180100,180600,178800,178300,176400,177900,179200,182100,183800
38,20,Idaho,39,245800,249200,249900,251900,254100,258400,260200,261300,263600,265700,268500,271600
39,18,Hawaii,40,560600,557000,554000,558700,568800,566700,575300,569400,571400,573900,577900,591100
40,28,Maine,41,217000,221700,222400,226400,224000,225200,225600,226600,229400,228900,230600,228100
41,39,New Hampshire,42,262000,259800,262200,262000,265400,266800,266900,269500,270200,273600,275400,280000
42,50,Rhode Island,43,248600,249200,250900,256800,259500,257200,254600,253900,263000,264500,270800,269200
43,35,Montana,44,281700,282900,281700,280600,283200,288600,292700,293100,294500,295900,298700,300800
44,13,Delaware,45,231000,231400,229500,227500,223900,225500,228100,233400,234400,238000,239200,242300
45,52,South Dakota,46,200800,201800,206800,206500,204400,202100,203400,205700,205500,206300,208200,214500
46,37,North Dakota,47,211200,214200,215400,214800,215900,217200,223000,225200,227000,224800,221600,220600
47,12,District of Columbia,48,538800,542100,549200,554300,547500,540000,532600,530600,542600,548000,566400,577600
48,62,Wyoming,49,222100,223900,226500,226400,229100,231500,235300,235000,238300,236800,240700,241200

In [40]:
# add new column with average sale for each state
#state_prices_2019_df['Average Sale'] = state_prices_2019_df.mean(axis=1)
state_prices_2019_df['Average Sale']  = state_prices_2019_df[['2019-01', '2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12']].mean(axis=1)
# display the dataframe
state_prices_2019_df

,RegionID,StateName,SizeRank,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,Average Sale
0,9,California,1,485900,488400,489900,493200,492200,493000,491900,491600,493800,498400,505600,513500,494783.333333
1,54,Texas,2,217800,219100,220500,223300,224700,226100,226700,228100,229400,232700,234700,236800,226658.333333
2,43,New York,3,290200,289700,285700,287900,287500,297000,298100,301700,295100,296000,297100,305400,294283.333333
3,14,Florida,4,224600,225800,225300,224400,223800,224600,226100,227000,228900,230800,234400,238100,227816.666667
4,21,Illinois,5,184200,188500,195700,199000,198700,195900,192000,189500,188100,190000,191300,194600,192291.666667
5,47,Pennsylvania,6,163400,165500,167600,169100,168200,168600,168700,168500,168800,169600,172100,173300,168616.666667
6,44,Ohio,7,137200,139600,141300,141200,141100,140300,141300,140600,140600,140900,142300,145200,140966.666667
7,30,Michigan,8,146900,152100,155200,156200,153300,151200,151600,152700,153700,154300,155200,157700,153341.666667
8,16,Georgia,9,188900,190500,191900,192700,194200,195600,197600,197800,199800,199600,202700,204900,196350.000000
9,36,North Carolina,10,193700,196100,198400,199800,199600,199700,201100,202100,205200,206200,209900,212700,202041.666667
10,40,New Jersey,11,276600,280200,282700,285500,287100,287000,287900,288600,290700,293900,303300,311600,289591.666667
11,56,Virginia,12,262900,265300,267900,267200,268300,268100,268200,268900,272600,274700,275600,276200,269658.333333
12,59,Washington,13,357500,364800,370200,371800,370900,369000,367800,369600,371700,374700,377400,384600,370833.333333
13,26,Massachusetts,14,369400,377400,387600,389300,384000,382300,384200,383700,384100,386500,386500,390700,383808.333333
14,22,Indiana,15,148600,150400,153300,153200,153100,153400,154500,156000,156700,159200,160500,161300,155016.666667
15,8,Arizona,16,235500,236500,239300,238600,240300,241200,244100,244800,247200,249500,252500,255100,243716.666667
16,53,Tennessee,17,180400,182400,182300,183100,183400,187500,188700,190700,190800,193200,195600,199600,188141.666667
17,32,Missouri,18,161900,166700,168800,166800,163900,163800,163500,163300,163400,165800,166700,168300,165241.666667
18,27,Maryland,19,263100,262700,263800,266100,271400,273500,273900,271900,270600,272100,276000,279600,270391.666667
19,60,Wisconsin,20,175100,177600,179800,183200,183200,182400,181100,180500,180300,182500,183000,187100,181316.666667
20,31,Minnesota,21,229000,231500,236300,237100,237800,235600,236700,236800,238400,240600,243100,245800,237391.666667
21,10,Colorado,22,358200,360600,361000,363700,366100,366500,366700,366900,370600,373200,376200,378500,367350.000000
22,4,Alabama,23,151000,153800,155800,156400,155800,155200,153500,154500,156500,160100,163900,167400,156991.666667
23,51,South Carolina,24,179600,180700,181400,183700,184800,185400,186300,187500,188000,186800,187100,190400,185141.666667
24,25,Louisiana,25,170700,167500,168400,168200,171300,174900,177300,177100,175700,175600,178000,179600,173691.666667
25,24,Kentucky,26,154400,155600,156500,156500,156300,156600,158500,159300,160500,162100,163500,165200,158750.000000
26,46,Oregon,27,328500,333200,335700,335400,334700,336000,337200,337300,337300,341300,346000,350900,337791.666667
27,45,Oklahoma,28,140900,144300,146700,148300,147000,147000,146900,147000,147700,149400,151400,152600,147433.333333
28,11,Connecticut,29,235500,234200,239000,241400,245900,241100,239000,237300,238400,240700,243400,251000,240575.000000
29,19,Iowa,30,147100,148600,150200,151600,151400,152300,151300,153100,154400,155500,155600,156600,152308.333333
30,34,Mississippi,31,159400,160100,160700,162100,162800,163300,162800,163100,163000,163400,163900,168200,162733.333333
31,6,Arkansas,32,142300,143000,142800,141300,142100,143800,146800,147300,149800,151100,154200,154300,146566.666667
32,23,Kansas,33,183100,183500,183500,181400,184300,189100,191900,191500,188600,188600,191000,193100,187466.666667
33,55,Utah,34,297500,300300,302100,302400,303700,306100,306600,309800,313100,316800,318500,322000,308241.666667
34,42,Nevada,35,280100,281500,282700,280900,281900,281500,282500,282400,285400,288700,291500,294100,284433.333333
35,41,New Mexico,36,196600,197100,197200,200700,204200,209900,210500,210500,207400,210000,210500,213600,205683.333333
36,61,West Virginia,37,136500,134500,136000,138900,141600,142500,142300,142800,143700,143500,143500,142200,140666.666667
37,38,Nebraska,38,175400,177100,179800,180100,180600,178800,178300,176400,177900,179200,182100,183800,179125.000000
38,20,Idaho,39,245800,249200,249900,251900,254100,258400,260200,261300,263600,265700,268500,271600,258350.000000
39,18,Hawaii,40,560600,557000,554000,558700,568800,566700,575300,569400,571400,573900,577900,591100,568733.333333
40,28,Maine,41,217000,221700,222400,226400,224000,225200,225600,226600,229400,228900,230600,228100,225491.666667
41,39,New Hampshire,42,262000,259800,262200,262000,265400,266800,266900,269500,270200,273600,275400,280000,267816.666667
42,50,Rhode Island,43,248600,249200,250900,256800,259500,257200,254600,253900,263000,264500,270800,269200,258183.333333
43,35,Montana,44,281700,282900,281700,280600,283200,288600,292700,293100,294500,295900,298700,300800,289533.333333
44,13,Delaware,45,231000,231400,229500,227500,223900,225500,228100,233400,234400,238000,239200,242300,232016.666667
45,52,South Dakota,46,200800,201800,206800,206500,204400,202100,203400,205700,205500,206300,208200,214500,205500.000000
46,37,North Dakota,47,211200,214200,215400,214800,215900,217200,223000,225200,227000,224800,221600,220600,219241.666667
47,12,District of Columbia,48,538800,542100,549200,554300,547500,540000,532600,530600,542600,548000,566400,577600,547475.000000
48,62,Wyoming,49,222100,223900,226500,226400,229100,231500,235300,235000,238300,236800,240700,241200,232233.333333

In [41]:
city_prices_df = pd.read_csv(city_prices_file)
city_prices_df.head()

,Unnamed: 0,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,0,6181,New York,New York,1,NaN,NaN,NaN,NaN,NaN,...,563200.0,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0,571700.0,568300.0,573600.0
1,1,12447,Los Angeles,California,2,507600.0,489600.0,463000.0,453100.0,438100.0,...,706800.0,711800.0,717300.0,714100.0,711900.0,718400.0,727100.0,738200.0,760200.0,NaN
2,2,39051,Houston,Texas,3,138400.0,135500.0,132200.0,131000.0,133400.0,...,209700.0,207400.0,207600.0,207000.0,211400.0,211500.0,217700.0,219200.0,223800.0,NaN
3,3,17426,Chicago,Illinois,4,325100.0,314800.0,286900.0,274600.0,268500.0,...,271500.0,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,281400.0,302900.0,309200.0
4,4,6915,San Antonio,Texas,5,130900.0,131300.0,131200.0,131500.0,131600.0,...,197100.0,198700.0,200200.0,200800.0,203400.0,203800.0,205400.0,205400.0,208300.0,NaN

In [42]:
#City data from 2018- 2020 df

city_prices_2018_df = city_prices_df.loc[:, ['RegionID', 'RegionName', 'StateName', 'SizeRank',"2018-01",'2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12','2020-01','2020-02','2020-03']]
city_prices_2018_df

,RegionID,RegionName,StateName,SizeRank,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,6181,New York,New York,1,555000.0,553200.0,559400,555700,556300,547000,...,563200.0,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0,571700.0,568300.0,573600.0
1,12447,Los Angeles,California,2,611000.0,616800.0,624000,631300,629100,635300,...,706800.0,711800.0,717300.0,714100.0,711900.0,718400.0,727100.0,738200.0,760200.0,NaN
2,39051,Houston,Texas,3,192700.0,195200.0,196300,197800,195500,194300,...,209700.0,207400.0,207600.0,207000.0,211400.0,211500.0,217700.0,219200.0,223800.0,NaN
3,17426,Chicago,Illinois,4,230400.0,238500.0,247400,250000,244600,242100,...,271500.0,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,281400.0,302900.0,309200.0
4,6915,San Antonio,Texas,5,185600.0,185700.0,185400,186000,187300,186800,...,197100.0,198700.0,200200.0,200800.0,203400.0,203800.0,205400.0,205400.0,208300.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3723,40400,Port Bolivar,Texas,3724,278000.0,255800.0,280800,274200,259000,237000,...,278400.0,254300.0,273200.0,286200.0,278100.0,285500.0,267200.0,302900.0,333700.0,330100.0
3724,397820,Long Beach Township,New Jersey,3725,831600.0,763100.0,787300,784500,829600,810700,...,846300.0,912100.0,943700.0,897600.0,836000.0,839900.0,824100.0,839000.0,860600.0,NaN
3725,37346,Beech Mountain,North Carolina,3726,135400.0,144500.0,147900,156700,157800,127900,...,191400.0,172700.0,195700.0,189500.0,166500.0,130900.0,139800.0,129400.0,124800.0,131000.0
3726,34991,Corolla,North Carolina,3727,473300.0,427000.0,392800,405600,448800,479300,...,522400.0,521000.0,480000.0,430600.0,476400.0,560800.0,565400.0,514000.0,444200.0,NaN
3727,52829,La Vernia,Texas,3728,305100.0,320500.0,325400,336500,327400,311400,...,337900.0,342900.0,358300.0,373100.0,375100.0,358600.0,356500.0,336700.0,340400.0,327000.0

In [43]:
city_prices_2_df = pd.read_csv(city_prices_2_file)
city_prices_2_df.head()

,Unnamed: 0,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,0,6181,New York,New York,1,NaN,NaN,NaN,NaN,NaN,...,563200.0,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0,571700.0,568300.0,573600.0
1,1,12447,Los Angeles,California,2,507600.0,489600.0,463000.0,453100.0,438100.0,...,706800.0,711800.0,717300.0,714100.0,711900.0,718400.0,727100.0,738200.0,760200.0,NaN
2,2,39051,Houston,Texas,3,138400.0,135500.0,132200.0,131000.0,133400.0,...,209700.0,207400.0,207600.0,207000.0,211400.0,211500.0,217700.0,219200.0,223800.0,NaN
3,3,17426,Chicago,Illinois,4,325100.0,314800.0,286900.0,274600.0,268500.0,...,271500.0,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,281400.0,302900.0,309200.0
4,4,6915,San Antonio,Texas,5,130900.0,131300.0,131200.0,131500.0,131600.0,...,197100.0,198700.0,200200.0,200800.0,203400.0,203800.0,205400.0,205400.0,208300.0,NaN

In [44]:
#City 2 data from 2018- 2020 df

city_prices_2_2018_df = city_prices_2_df.loc[:, ['RegionID', 'RegionName', 'StateName', 'SizeRank',"2018-01",'2018-02','2018-03','2018-04','2018-05','2018-06','2018-07','2018-08','2018-09','2018-10','2018-11','2018-12','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12','2020-01','2020-02','2020-03']]
city_prices_2_2018_df

,RegionID,RegionName,StateName,SizeRank,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,6181,New York,New York,1,555000.0,553200.0,559400,555700,556300,547000,...,563200.0,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0,571700.0,568300.0,573600.0
1,12447,Los Angeles,California,2,611000.0,616800.0,624000,631300,629100,635300,...,706800.0,711800.0,717300.0,714100.0,711900.0,718400.0,727100.0,738200.0,760200.0,NaN
2,39051,Houston,Texas,3,192700.0,195200.0,196300,197800,195500,194300,...,209700.0,207400.0,207600.0,207000.0,211400.0,211500.0,217700.0,219200.0,223800.0,NaN
3,17426,Chicago,Illinois,4,230400.0,238500.0,247400,250000,244600,242100,...,271500.0,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,281400.0,302900.0,309200.0
4,6915,San Antonio,Texas,5,185600.0,185700.0,185400,186000,187300,186800,...,197100.0,198700.0,200200.0,200800.0,203400.0,203800.0,205400.0,205400.0,208300.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3723,40400,Port Bolivar,Texas,3724,278000.0,255800.0,280800,274200,259000,237000,...,278400.0,254300.0,273200.0,286200.0,278100.0,285500.0,267200.0,302900.0,333700.0,330100.0
3724,397820,Long Beach Township,New Jersey,3725,831600.0,763100.0,787300,784500,829600,810700,...,846300.0,912100.0,943700.0,897600.0,836000.0,839900.0,824100.0,839000.0,860600.0,NaN
3725,37346,Beech Mountain,North Carolina,3726,135400.0,144500.0,147900,156700,157800,127900,...,191400.0,172700.0,195700.0,189500.0,166500.0,130900.0,139800.0,129400.0,124800.0,131000.0
3726,34991,Corolla,North Carolina,3727,473300.0,427000.0,392800,405600,448800,479300,...,522400.0,521000.0,480000.0,430600.0,476400.0,560800.0,565400.0,514000.0,444200.0,NaN
3727,52829,La Vernia,Texas,3728,305100.0,320500.0,325400,336500,327400,311400,...,337900.0,342900.0,358300.0,373100.0,375100.0,358600.0,356500.0,336700.0,340400.0,327000.0

In [45]:
# add new column with average sale for each region of the state
city_prices_2_2018_df['Average City Sale'] = city_prices_2_2018_df.mean(axis=1)
# display the dataframe
city_prices_2_2018_df

,RegionID,RegionName,StateName,SizeRank,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,...,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03,Average City Sale
0,6181,New York,New York,1,555000.0,553200.0,559400,555700,556300,547000,...,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0,571700.0,568300.0,573600.0,523413.172414
1,12447,Los Angeles,California,2,611000.0,616800.0,624000,631300,629100,635300,...,711800.0,717300.0,714100.0,711900.0,718400.0,727100.0,738200.0,760200.0,NaN,630601.750000
2,39051,Houston,Texas,3,192700.0,195200.0,196300,197800,195500,194300,...,207400.0,207600.0,207000.0,211400.0,211500.0,217700.0,219200.0,223800.0,NaN,191301.928571
3,17426,Chicago,Illinois,4,230400.0,238500.0,247400,250000,244600,242100,...,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,281400.0,302900.0,309200.0,245018.275862
4,6915,San Antonio,Texas,5,185600.0,185700.0,185400,186000,187300,186800,...,198700.0,200200.0,200800.0,203400.0,203800.0,205400.0,205400.0,208300.0,NaN,180293.571429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3723,40400,Port Bolivar,Texas,3724,278000.0,255800.0,280800,274200,259000,237000,...,254300.0,273200.0,286200.0,278100.0,285500.0,267200.0,302900.0,333700.0,330100.0,250918.068966
3724,397820,Long Beach Township,New Jersey,3725,831600.0,763100.0,787300,784500,829600,810700,...,912100.0,943700.0,897600.0,836000.0,839900.0,824100.0,839000.0,860600.0,NaN,799851.607143
3725,37346,Beech Mountain,North Carolina,3726,135400.0,144500.0,147900,156700,157800,127900,...,172700.0,195700.0,189500.0,166500.0,130900.0,139800.0,129400.0,124800.0,131000.0,147919.724138
3726,34991,Corolla,North Carolina,3727,473300.0,427000.0,392800,405600,448800,479300,...,521000.0,480000.0,430600.0,476400.0,560800.0,565400.0,514000.0,444200.0,NaN,434022.071429
3727,52829,La Vernia,Texas,3728,305100.0,320500.0,325400,336500,327400,311400,...,342900.0,358300.0,373100.0,375100.0,358600.0,356500.0,336700.0,340400.0,327000.0,319339.896552

In [46]:
#City 2 data from 2019 df

city_prices_2_2019_df = city_prices_2_df.loc[:, ['RegionID', 'RegionName', 'StateName', 'SizeRank','2019-01','2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12']]
city_prices_2_2019_df.rename(columns = {'StateName':'StateName'}, inplace = True)
city_prices_2_2019_df

,RegionID,RegionName,StateName,SizeRank,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,6181,New York,New York,1,557700,561100,560100,571000.0,559800.0,563200.0,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0
1,12447,Los Angeles,California,2,680800,684300,699200,702700.0,703800.0,706800.0,711800.0,717300.0,714100.0,711900.0,718400.0,727100.0
2,39051,Houston,Texas,3,206600,205100,206800,206200.0,210100.0,209700.0,207400.0,207600.0,207000.0,211400.0,211500.0,217700.0
3,17426,Chicago,Illinois,4,245700,263200,290800,292000.0,276000.0,271500.0,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0
4,6915,San Antonio,Texas,5,190400,189600,191200,193300.0,196000.0,197100.0,198700.0,200200.0,200800.0,203400.0,203800.0,205400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3723,40400,Port Bolivar,Texas,3724,264700,255900,251900,286300.0,275400.0,278400.0,254300.0,273200.0,286200.0,278100.0,285500.0,267200.0
3724,397820,Long Beach Township,New Jersey,3725,871300,884300,873700,872600.0,826600.0,846300.0,912100.0,943700.0,897600.0,836000.0,839900.0,824100.0
3725,37346,Beech Mountain,North Carolina,3726,150700,171500,158200,200200.0,180000.0,191400.0,172700.0,195700.0,189500.0,166500.0,130900.0,139800.0
3726,34991,Corolla,North Carolina,3727,471100,484800,423900,428400.0,436200.0,522400.0,521000.0,480000.0,430600.0,476400.0,560800.0,565400.0
3727,52829,La Vernia,Texas,3728,367700,363000,352600,340300.0,339000.0,337900.0,342900.0,358300.0,373100.0,375100.0,358600.0,356500.0

In [47]:
# add new column with average sale for each region of the state
city_prices_2_2019_df['Average City Sale']  = city_prices_2_df[['2019-01', '2019-02','2019-03','2019-04','2019-05','2019-06','2019-07','2019-08','2019-09','2019-10','2019-11','2019-12']].mean(axis=1)
# display the dataframe
city_prices_2_2019_df

,RegionID,RegionName,StateName,SizeRank,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,Average City Sale
0,6181,New York,New York,1,557700,561100,560100,571000.0,559800.0,563200.0,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0,566125.000000
1,12447,Los Angeles,California,2,680800,684300,699200,702700.0,703800.0,706800.0,711800.0,717300.0,714100.0,711900.0,718400.0,727100.0,706516.666667
2,39051,Houston,Texas,3,206600,205100,206800,206200.0,210100.0,209700.0,207400.0,207600.0,207000.0,211400.0,211500.0,217700.0,208925.000000
3,17426,Chicago,Illinois,4,245700,263200,290800,292000.0,276000.0,271500.0,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,269500.000000
4,6915,San Antonio,Texas,5,190400,189600,191200,193300.0,196000.0,197100.0,198700.0,200200.0,200800.0,203400.0,203800.0,205400.0,197491.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3723,40400,Port Bolivar,Texas,3724,264700,255900,251900,286300.0,275400.0,278400.0,254300.0,273200.0,286200.0,278100.0,285500.0,267200.0,271425.000000
3724,397820,Long Beach Township,New Jersey,3725,871300,884300,873700,872600.0,826600.0,846300.0,912100.0,943700.0,897600.0,836000.0,839900.0,824100.0,869016.666667
3725,37346,Beech Mountain,North Carolina,3726,150700,171500,158200,200200.0,180000.0,191400.0,172700.0,195700.0,189500.0,166500.0,130900.0,139800.0,170591.666667
3726,34991,Corolla,North Carolina,3727,471100,484800,423900,428400.0,436200.0,522400.0,521000.0,480000.0,430600.0,476400.0,560800.0,565400.0,483416.666667
3727,52829,La Vernia,Texas,3728,367700,363000,352600,340300.0,339000.0,337900.0,342900.0,358300.0,373100.0,375100.0,358600.0,356500.0,355416.666667

In [48]:
#checking for any duplicates in df(s)

any(state_prices_2019_df.duplicated())

False

In [49]:
any(city_prices_2018_df.duplicated())

False

In [50]:
any(city_prices_2_2019_df.duplicated())

False

Create Database Connection

In [51]:
connection_string = "postgres:postgres@localhost:5432/StateCityHousingPrice_db"
engine = create_engine(f'postgresql://{connection_string}')

In [52]:
# Checking the tables 
engine.table_names()

<ipython-input-52-fd4e719eb2b8>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['statesales', 'citysales']

In [57]:
# Use pandas to load csv converted DataFrame into database

state_prices_2019_df.to_sql(name='statesales', con=engine, if_exists='append', index=False)

In [58]:
#Use pandas to load csv converted DataFrame into database

city_prices_2_2019_df.to_sql(name='citysales', con=engine, if_exists='append', index=False)

In [59]:
# ### Confirm data has been added by querying the statesales table

pd.read_sql_query('select * from statesales', con=engine).head()

,StateName,RegionID,SizeRank,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,Average Sale
0,California,9,1,485900.0,488400.0,489900.0,493200.0,492200.0,493000.0,491900.0,491600.0,493800.0,498400.0,505600.0,513500.0,494783.333333
1,Texas,54,2,217800.0,219100.0,220500.0,223300.0,224700.0,226100.0,226700.0,228100.0,229400.0,232700.0,234700.0,236800.0,226658.333333
2,New York,43,3,290200.0,289700.0,285700.0,287900.0,287500.0,297000.0,298100.0,301700.0,295100.0,296000.0,297100.0,305400.0,294283.333333
3,Florida,14,4,224600.0,225800.0,225300.0,224400.0,223800.0,224600.0,226100.0,227000.0,228900.0,230800.0,234400.0,238100.0,227816.666667
4,Illinois,21,5,184200.0,188500.0,195700.0,199000.0,198700.0,195900.0,192000.0,189500.0,188100.0,190000.0,191300.0,194600.0,192291.666667

In [60]:
### Confirm data has been added by querying the citysales table

pd.read_sql_query('select * from citysales', con=engine).head()

,RegionName,RegionID,StateName,SizeRank,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,Average City Sale
0,New York,6181,New York,1,557700.0,561100.0,560100.0,571000.0,559800.0,563200.0,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0,566125.000000
1,Los Angeles,12447,California,2,680800.0,684300.0,699200.0,702700.0,703800.0,706800.0,711800.0,717300.0,714100.0,711900.0,718400.0,727100.0,706516.666667
2,Houston,39051,Texas,3,206600.0,205100.0,206800.0,206200.0,210100.0,209700.0,207400.0,207600.0,207000.0,211400.0,211500.0,217700.0,208925.000000
3,Chicago,17426,Illinois,4,245700.0,263200.0,290800.0,292000.0,276000.0,271500.0,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,269500.000000
4,San Antonio,6915,Texas,5,190400.0,189600.0,191200.0,193300.0,196000.0,197100.0,198700.0,200200.0,200800.0,203400.0,203800.0,205400.0,197491.666667